$primary: #2196F3;
$text_primary: #0F0F0F;
$text_secondary: #697580;
$text_card: #425A60;
$text_prompt: #3A4850;
$text_prompt_outro: #5B6971;
$progress: linear-gradient(290.47deg, #3797FA 11.33%, #45C9FF 83.66%);

$bg_primary: linear-gradient(180deg, #E8F0F2 0%, rgba(232, 240, 242, 0) 100%);
$shadow_light: 0px 4px 10px 0px #0000000F;
$br_card: 14px;
$br_btn: 24px;
$shadow_neo: 9px 9px 16px 0px #A3B1C653, -9px -9px 16px 0px #FFFFFF;

$btn_primary: linear-gradient(270deg, #45C7FA 0%, #2196F3 100%);

$line_height: 8px;
